<div>
    <h1>Productos</h1>
    <div id="product-list-container">
        {{#each products}}
            <div id="product-item">
                {{#if havePics}}
                    <div class="thumbnail-container">
                        <img src="../../statics/img/{{thumbnails.0.originalName}}" alt="">
                    </div>
                {{else}}
                    <p id="no-image">No image</p>
                {{/if}}
                <p id="title">{{title}}</p>
                <p>${{price}}</p>
            </div>
        {{/each}}
    </div>
</div>